
<% if (isApp) { %>
<script src="../dist/u2f-api-v1.1.js"></script>

<% if (process.env.NODE_ENV === 'production') { %>
<script type="text/javascript" src="../dist/app.bundle.js"></script>
<script type="text/javascript" src="../dist/styles.js"></script>
<script type="text/javascript" src="../dist/vendor.js">
</script>
<script src="../dist/js/templates.js"></script>
<% } else { %>
<script type="text/javascript" src="../dist/app.bundle.js"></script>
<script type="text/javascript" src="../dist/bundle.js"></script>
<script type="text/javascript" src="../dist/styles.js"></script>
<script src="../dist/js/templates.js"></script>
<% } %>

<% } else { %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<% } %>
