<div>
        <ng-transclude></ng-transclude>
    <form class="form-inline pull-right" name="demo.searchForm" novalidate ng-submit="vm.applyGlobalSearch()">
        <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Buscar" name="searchTerm" ng-model="vm.globalSearchTerm" ng-model-options="{ debounce: 500 }" />
            <span class="input-group-btn">
                <button class="btn btn-sm btn-default" type="submit" ng-disabled="vm.searchForm.$invalid">
                  <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-sm  btn-default" ng-click="vm.pullData()">
                  <i class="fa fa-refresh"></i>
                </button>
            </span>
        </div>        
    </form>
</div>