<div class="row">
    <div class="col-lg-11 col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Llaves de seguridad</h3>
            </div>
            <!-- /.box-header -->


            <div class="box-body no-padding">

                <div grid-toolbar source="vm.tableParams">
                    <ul class="nav nav-pills pull-left">

                        <li>
                            <button class="btn btn-primary" href="" ng-click="vm.startRegistration()">
                                <strong>Enrolar dispositivo</strong>
                            </button>
                        </li>
                    </ul>
                </div>

                <table ng-table="vm.tableParams" class="table table-responsive" ng-show="vm.items.length > 0">
                    <tr ng-repeat="key in $data">
                        <td title="'Llave'" filter="{ publicKey: 'text'}" sortable="'publicKey'">
                            {{ key.publicKey.substring(0, 55) + '...' }}</td>
                        <td title="'Dominio'" filter="{ appId: 'text'}" sortable="'appId'">
                            {{ key.appId }}</td>
                        <td>
                        <td title="'Creado'" filter="{ created: 'text'}" sortable="'created'">
                            {{ key.created | date: 'dd/MM/yyyy hh:mm' }}</td>
                        <td>
                            <ul class="nav nav-pills pull-left">
                                <li>
                                    <button class="btn btn-sm btn-default" ng-click="vm.delete(key)">
                                        <i class="fa fa-remove"></i>
                                    </button>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>